[DevOps][1]
CODEOWNERS @AdamJones @IgorPogorelko @oleksandr.poliukh.bb2 @OleksandrKulak @OleksandrShakhmatov
.gitlab-ci.yml @AdamJones @IgorPogorelko @oleksandr.poliukh.bb2 @OleksandrKulak @OleksandrShakhmatov